tr {
  display: flex;
}
td {
  display: flex;
  margin: 0 auto;
  width: 15%;
  justify-content: center;
  align-items: center;
  color: white;
}

.delete {
  font-size: 20px;
  cursor: pointer;
}
 .edit {
  font-size: 20px;
  cursor: pointer;
 }